img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.largeImg {
  max-width: 600px;
  width: 80%;
  height: 80%;
}

.c-pointer {
  cursor: pointer;
}

.search-wrapper {
  height: 120px;
}

.search-wrapper input {
  max-width: 250px;
  width: 95%;
  border-radius: 12px;
  height: 30px;
}

.profile-wrapper {
  max-width: 300px;
  width: 95%;
  margin: 0 auto;
}

.input-wrapper label {
  max-width: 200px;
  width: 100%;
}
